<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='src/fav_alien.png') }}">
</head>
<body>
    <main>
        <h1><a class="button-grad" href="/">ToDo - список задач</a></h1>
        <br>
        {% block content %}

        {% endblock content %}
    </main>
</body>
<footer style="padding: 20px">
       <hr>
    <div style="text-align:center">
        <h3>Quick Links</h3>
        <span style="margin: 5px">
          <a class="button-grad" style="margin: 10px" href="/list?token={{ tkn }}">Список</a>
          <a class="button-grad" style="margin: 10px" href="/visualize?token={{ tkn }}">Визуализация</a>
          <a class="button-grad" style="margin: 10px" href="/func?token={{ tkn }}">Функции</a>
        <a class="button-grad" style="margin: 10px" href="/importlist?token={{ tkn }}">Import list</a>
            <a class="button-grad" style="margin: 10px" href="/import/issues?token={{ tkn }}">Import issues</a>

        </span>
      </div>
    <div style="text-align:center; border-top: 1px solid #ccc; padding-top:5px">
        <p>Copyright &copy; 2022 All Rights Reserved by
            <br><a  href="#">SosiBibu.inc</a></p>
    </div>
</footer>

</html>