{% extends 'base.html' %}

{% block content %}
    <form action="/edit/{{todo.id}}?token={{ token }}" method="post">
        <div class="title">
        <h2>Заголовок задачи</h2>
        </div>
        <textarea name="title" rows="5">{{todo.title}}</textarea>
        <textarea name="details" rows="5" placeholder="Опишите задачу">{{todo.details}}</textarea>
        <select name="tag">
        {% for tag in tags %}
                <option {%if todo.tag==tag.value %}
                    selected{%endif%}
                    value={{ tag.value }}>
                    {{ tag.value }}
                </option>
            {% endfor %}
        </select>
        <select name="full">
        {% for full in fullname %}
                <option {%if todo.full==full.value %}
                    selected{%endif%}
                    value={{ full.value }}>
                    {{ full.value }}
                </option>
            {% endfor %}
        </select>

        <label for="completed">Выполнено?</label>
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
        <br>
        <label>Создано:{{todo.creation_date}}</label>
        <br>
        <label>Выполнено:{{todo.completion_date}}</label>
        <br>
        <label>Выполнено:{{todo.author}}</label>
        <br>
        <!--<label>Image:{{todo.image}}</label>-->
        <img src="{{todo.image}}" width="200" height="200">
        <br>
        {% if todo.message %}

            <label>ID тудушек, в которых есть эта картинка:</label>
            {% for i in todo.message %}
                <a href="/edit/{{ i }}"> {{i}} </a>
            {% endfor %}
        {% endif %}
        <button type="submit" class="button-grad">Сохранить</button>
    </form>
    <br>
    <form method="get" action="/image/{{ todo.id }}">
        <button class="button-grad">Выбрать изображение</button>
    </form>
    <br>
    <form method="get" action="/choose/{{ todo.id }}">
        <button class="button-grad">Выбрать из имеющихся</button>
    </form>
    <!--<form method="get" action="/filter?tag={{ todo.tag }}">
        <button type="submit" class="button-grad">Все {{ todo.tag }}</button>
    </form>-->
    <form action="/filter{{ tag_name }}">
        <select name="tag" onchange="this.form.submit()">
            <option selected>Все {{ tag_name }}</option>
            <option
                value={{ todo.tag }} >
                {{ todo.tag }}
                {% set tag_name = todo.tag %}
            </option>
        </select>
    </form>
{% endblock content %}