{% extends 'base.html' %}
{% set tkn = token %}
{% block content %}
    <div>
        <form action="/add/?token={{ token }}" method="post">
            <textarea name="title" rows="5" placeholder="Введите задачу" style="width:45x; height:90px"></textarea>
            <button class="button-grad" style="margin-bottom:5px" type="submit">Добавить</button>
        </form>
        <form action="/set_limit?count=count">
            <textarea name="count" rows="5" placeholder="Сколько туду выводить на одной странице" style="width:45x; height:45px"></textarea>
            <button class="button-grad" style="margin-bottom:5px" type="submit">Отобразить</button>
        </form>

        <form action="/generate/?token={{ token }}" method="get">
            <button class="button-grad" type="submit" style="margin-bottom:5px" >Добавить несколько (введите количество в следующее поле):</button>
            <textarea placeholder="Введите количество" name="count" style="width:45x; height:45px">{{count}}</textarea>
        </form>
    </div>
<div style="position: fixed; top: 30px; left: 30px;">
        <form action="/login" method="post">
            <h1>Вход</h1>
            <input style="margin-bottom:5px; width: 260px" required name="username" id="username" placeholder="Логин"> <br>
            <input style="margin-bottom:5px; width: 260px" required name="password" id="password" type="password" placeholder="Пароль"><br>
            <button class="button-grad" style="margin-bottom:5px; width: 130px" type="submit">Войти</button>
            <a class="pulse" style="margin-bottom:5px; width: 130px; display: inline-block" href="/registerpage">Регистрация</a>
</form>
    </div>

{% endblock content %}