<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
{% extends 'base.html' %}

{% block content %}
<body>
<form action="/import/?token={{ token }}" onsubmit="return confirm('Вы уверены?')" style="width=40%">
        <button type="submit" class="button-grad" id="import">Импорт</button>
    </form>
<br>
    <form action="/export/?token={{ token }}" style="width=40%">
        <button type="submit" class="button-grad">Экспорт</button>
    </form>
<br>
    <form action="/importlist" style="width=40%">
        <button type="submit" class="button-grad">Список импортированных файлов</button>
    </form>
<form action="/import/issues" method="get">
        <textarea name="url" rows="5" placeholder="Введите url" style="width:45x; height:90px"></textarea>
        <textarea name="token" rows="5" placeholder="Введите token" style="width:45x; height:90px"></textarea>
        <button class="button-grad" style="margin-bottom:5px" type="submit">Импортировать</button>
</form>
</body>
{% endblock content %}
</html>